body {
    background-color: #FB6B6B;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Tela Inicial de Play*/
.Telainicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Logo {
    padding-top: 148px;
    box-sizing: border-box;
}

.title {
    font-family: 'Righteous';
    font-size: 36px;
    color: #FFFFFF;
    padding-top: 25px;
    box-sizing: border-box;
}

.iniciar {
    height: 54px;
    width: 246px;
    margin-top: 40px;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    border-radius: 5px;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #D70900;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.iniciar:hover {
    cursor: pointer;
}

/*Tela de Perguntas*/

.titleQuest {
    display: flex;
}

.logo-pequeno {
    padding-left: 30px;
    padding-top: 20px;
    box-sizing: border-box;
}

.titleQuest p {
    font-family: 'Righteous';
    font-size: 36px;
    color: #FFFFFF;
    padding-left: 25px;
    padding-top: 25px;
    box-sizing: border-box;
}

.pergunta {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    margin-top: 51px;
}

.pergunta p {
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.pergunta ion-icon {
    font-size: 32px;
    color: #333333;
    --ionicon-stroke-width: 46px;
    cursor: pointer;
}

.quest {
    width: 299px;
    height: 131px;
    background-color: #FFFFD4;
    margin-top: 30px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.quest p {
    color: #333333;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    padding-top: 18px;
    padding-left: 15px;
}

.quest img {
    padding-top: 70px;
    padding-left: 254px;
}

/* Barra fixa de Status */
.status {
    height: 70px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.status p {
    font-family: 'Recursive';
    font-size: 18px;
    color: #333333;
    font-weight: 400;
}

.hidden {
    display: none;
}